body {
  font-family: "Inter", sans-serif;
  background-color: #f0f2f5;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  padding: 20px;
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 450px;
  text-align: center;
  box-sizing: border-box;
}

.component-indicator {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  max-width: 400px;
  margin: 0 auto 10px auto;
  color: #8a2be2;
  font-size: 0.9em;
  font-weight: 700;
}

.component-indicator .diamond {
  width: 8px;
  height: 8px;
  background-color: #8a2be2;
  transform: rotate(45deg);
  margin-right: 5px;
  border-radius: 2px;
}

.form-title {
  color: #333;
  margin-bottom: 30px;
  font-size: 1.2em;
  text-align: center;
  width: 100%;
  max-width: 400px;
  margin: 0 auto 30px auto;
  font-weight: 700;
}

.login-box {
  background-color: #fff;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  box-sizing: border-box;
}

.input-group {
  margin-bottom: 20px;
  text-align: left;
}

.input-group label {
  display: block;
  margin-bottom: 8px;
  color: #555;
  font-weight: 700;
}

.input-group input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 1em;
  outline: none;
  transition: border-color 0.3s ease;
}

.input-group input:focus {
  border-color: #8a2be2;
}

.input-group input::placeholder {
  color: #aaa;
}

.sign-in-button {
  width: 100%;
  padding: 12px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 1.1em;
  font-weight: 700;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, box-shadow 0.2s ease;
}

.sign-in-button:hover {
  background-color: #555;
}
.sign-in-button:active {
  background-color: #222;
  box-shadow: none;
  transform: translateY(2px);
}
.reset {
  width: 100%;
  padding: 12px;
  margin-top: 15px;
  background-color: red;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 1.1em;
  font-weight: 700;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, box-shadow 0.2s ease;
}

.reset:hover {
  background-color: rgb(199, 0, 0);
}
.reset:active {
  background-color: #9e0000;
  box-shadow: none;
  transform: translateY(2px);
}
