body {
  background-image: url(img/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #333;
}
.full-width-header {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
  margin-top: 0;
  border-radius: 0;
  padding: 0;
  position: sticky;
  top: 0;
  z-index: 1000;
}
.header-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-link {
  color: #555;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  transition: background-color 0.3s ease;
}
.nav-link:hover {
  background-color: #e2e8f0;
  color: #333;
}
.nav-link:active {
  background-color: #a3a8ad;
  color: #333;
}
.myprofile {
  font-family: "League Spartan", sans-serif;
  font-weight: 600;
  font-size: 25px;
  color: #666;
}
.card-artikel {
  background-color: #fff;
  padding: 1.5rem;
  border-radius: 1rem;
  margin-bottom: 2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: auto;
  width: auto;
  margin-left: 12px;
  align-items: flex-start;
  transition: background-color 0.3s ease, transform 0.1s ease;
}
.card-artikel img {
  border-radius: 10px;
  width: 200px;
  height: auto;
  margin-right: 20px;
}
.card-artikel:hover {
  background-color: #bfc5ca;
  transform: scale(1.01);
}
.card-artikel:active {
  background-color: #9ba0a3;
  transform: scale(1);
}
.card-description {
  font-size: 0.9rem;
  color: #666;
  flex-grow: 1;
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: left;
}
.container {
  max-width: 1200px;
  max-height: auto;
  margin: 0 auto;
  padding: 2rem;
}
